/* Pantalla completa */
@media screen and (min-width: 768px) {
    /* Estilos para pantallas más grandes */
    .footer {
      position: absolute;
      width: 98.5vw;
      background-color: black;
      left: 0px;
    }
    .footerContent {
      position: relative;
      bottom: 50px;
      background-color: black;
      padding-top: 200px;
      padding-bottom: 150px;
      left: 0px;
    }
    #lbl1 {
      position: relative;
      display: block;
      font-size: 25px;
      left: 200px;
      bottom: 40px;
      color: white;
      width: 500px;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f7ff5a, 0 0 70px #f7ff5a, 0 0 80px #f7ff5a, 0 0 100px #f7ff5a, 0 0 150px #f7ff5a;
    }
    #ojo{
      position: absolute;
      top: 200px;
      right: 600px;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background-color: white;
    }
    #ojo2{
      position: absolute;
      top: 200px;
      right: 530px;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background-color: white;
    }
    #cr{
      position: absolute;
      color: wheat;
    }
    #faro{
      position: absolute;
      width: 125px;
      height: auto;
      bottom: 220px;
      left: 15px;
    }
    #arbusto{
      position: absolute;
      width: 500px;
      height: auto;
      bottom: -50px;
      right: 0px;
      color: white;
    }
    #relleno{
      position: absolute;
      background-color: black;
      width: 10px;
      height: 600px;
      right: -3px;
      bottom: 0px;
    }
  }
  
  /* Vista teléfono */
  @media screen and (max-width: 767px) {
    .footer {
        background-color: black;
        left: 0px;
      }
      .footerContent {
        position: relative;
        padding-right: 0px;
        bottom: 0px;
        width: 95vw;
        background-color: black;
        padding-top: 100px;
        left: 0px;
      }
      #lbl1 {
        position: inherit;
        display: block;
        font-size: 10px;
        left: 100px;
        color: white;
        width: 200px;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f7ff5a, 0 0 70px #f7ff5a, 0 0 80px #f7ff5a, 0 0 100px #f7ff5a, 0 0 150px #f7ff5a;
      } 
      #ojo{
        position: absolute;
        top: 100px;
        right: 120px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
      }
      #ojo2{
        position: absolute;
        top: 100px;
        right: 50px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-color: white;
      }
      #cr{
        position: inherit;
        color: white;
      }
  }